<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>New Employee</title>
</head>
<body>
<div th:replace="index::navbar"></div>


<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <h1 class="text-center">Employee Form</h1>
            <div class="card">
                <div class="card-body">
                    <form th:action="@{/processemployee}" th:object="${employee}" method="post">
                        <input type="hidden" th:field="*{id}">

                        Username : <input type="text" th:field="*{username}" class="form-control"
                                           placeholder="Username">
                        <br>

                        Password : <input type="password" th:field="*{password}" class="form-control"
                                           placeholder="Password">
                        <br>

                        First Name : <input type="text" th:field="*{firstName}" class="form-control"
                                            placeholder="First Name">
                        <br>
                        Last Name: <input type="text" th:field="*{lastName}" class="form-control"
                                          placeholder="Last Name">
                        <br>
                        Job Title: <input type="text" th:field="*{jobTitle}" class="form-control"
                                          placeholder="Job Title">
                        <br>

                        Department: <select class="form-control" th:field="*{department}">
                        <option th:each="department : ${departments}"
                                th:text="${department.name}"
                                th:value="${department.id}">
                        </option>
                    </select><br>
                        <input type="submit" class="btn btn-primary" style="margin-left: 40%;" value="Submit">
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>