Links

Admin Links

<a th:href="@{/newemployee}">New Employee</a>
<a th:href="@{/newdepartment}">New Department</a>



Nav Bar

Nav Links
<!--<div th:fragment="navLinks">-->
<!--    <ul>-->
<!--        <li><a th:href="@{/}">Index</a></li>-->
<!--        <li><a th:href="@{/alldepartments}">Department List</a></li>-->
<!--        <li><a th:href="@{/admin}">Admin</a></li>-->
<!--        <li><a th:href="@{/secure}">Secure</a></li>-->
<!--        <li>-->
<!--            <form th:action="@{/logout}" method="post"><input class="logout" type="submit" value="Logout"/>-->
<!--            </form>-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->